<div class="page-content">
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between mb-5">
            <div>
              <h5 class="box-title mb-2">{{'DASHBOARD.TOTAL_USERS' | translate}}</h5>
              <div class="flexbox mb-2">
                <div class="h1 mb-0">{{totalUsers}}</div>
              </div>
              <div class="text-success font-13" style="cursor:pointer;"
                   [routerLink]="['/fas-admin/fas-users']"
                   routerLinkActive="active">{{'DASHBOARD.USERS_LIST' | translate}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between mb-5">
            <div>
              <h5 class="box-title mb-2">{{'DASHBOARD.TOTAL_APPS' | translate}}</h5>
              <div class="flexbox mb-2">
                <div class="h1 mb-0">{{totalApps}}</div>
              </div>
              <div class="text-success font-13" style="cursor:pointer;"
                   [routerLink]="['/fas-admin/fas-applications']"
                   routerLinkActive="active">{{'DASHBOARD.APP_LIST' | translate}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between mb-5">
            <div>
              <h5 class="text-success box-title mb-2" >{{'DASHBOARD.ACCEPTED_APPS' | translate}}</h5>
              <div class="flexbox mb-2">
                <div class="h1 mb-0">{{acceptedUsers}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  <div class="row">
    <div class="col-12">
    <div class="card p-4 ">
      <div class="card-body">
        <div class="text-center p-4">
          <h3 class="display-4">{{'DASHBOARD.RECENT_APPS' | translate}}</h3>
        </div>
        <table class="table">
          <thead>
          <tr>
            <th>{{'DATA_TABLE.APP_CODE' | translate}}</th>
            <th>{{'DATA_TABLE.JOB_DESC' | translate}}</th>
            <th>{{'DATA_TABLE.COUNTRY' | translate}}</th>
          </tr>
          </thead>
          <tbody>
          <tr class="alert" role="alert" *ngFor="let application of applications">
            <td class="d-flex align-items-center">
              <div class="pl-3 ">
                <span class="d-block">{{application?.id}}</span>
                <span class="d-block gray small">{{'DATA_TABLE.CREATION_DATE' | translate}} :  {{application?.createdAt}} </span>
              </div>
            </td>
            <td>{{application?.programName}}</td>
            <td>{{application?.country}}</td>
           <!-- <td class="status"><span class="active" *ngIf="application?.status === 'accepted'" >Accepted</span>
              <span class="inactive" *ngIf="application?.status === 'rejected'">Rejected</span>
              <span class="waiting" *ngIf="application?.status === 'pending'">Pending</span></td> -->
          </tr>
          </tbody>
        </table>

      </div>
    </div>
    </div>
  </div>
</div>
