@import "~@angular/material/theming";
.tab-container {
  min-height: calc(100vh - 88px);
  padding-top: 10px;
}

.color-picker-square {
  width: 50px;
  height: 25px;
  border-radius: 5px;
  margin-right: 10px;
  @include mat-elevation(1)
}
.color-input-container {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
