<ul class="sidebar-menu metismenu" id="sidenav">
  <ng-container *ngFor="let item of navigation">
    <ng-container *ngIf="item.heading; else unset">
      <li class="heading"><span>{{(item.translate | translate) || item.title | translate}}</span></li>
    </ng-container>

    <ng-template #unset>
      <ng-container *ngIf="!item.children; else hasChildBlock">
        <li *ngIf="!item.exact"  >
          <a routerLink="{{item.url}}" routerLinkActive="active">
            <em class="sidebar-item-icon" [ngClass]="item.icon"></em>
            <span class="nav-label">{{(item.translate | translate) || item.title | translate}}</span>
          </a>
        </li>
        <li *ngIf="item.exact" >
          <a routerLink="{{item.url}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <em class="sidebar-item-icon" [ngClass]="item.icon"></em>
            <span class="nav-label">{{(item.translate | translate) || item.title | translate}}</span>
          </a>
        </li>
      </ng-container>

      <ng-template #hasChildBlock>
        <li routerLinkActive="active">
          <a href="javascript:">
            <em class="sidebar-item-icon" [ngClass]="item.icon"></em>
            <span class='nav-label'>{{(item.translate | translate) || item.title | translate}}</span>
            <em class="arrow la la-angle-right"></em>
          </a>
          <ul class="nav-2-level collapse" routerLinkActive="in">
            <ng-container *ngFor="let child of item.children">
              <ng-container *ngIf="!child.children">
                <li *ngIf="child.exact"  ><a routerLink="{{child.url}}" routerLinkActive="active"
                                             [routerLinkActiveOptions]="{exact:true}">{{(child.translate | translate) || child.title | translate}}</a>
                </li>
                <li *ngIf="!child.exact"  ><a
                  routerLink="{{item.url + child.url}}"
                  routerLinkActive="active">{{(child.translate | translate) || child.title | translate}}</a>
                </li>
              </ng-container>
              <ng-container *ngIf="child.children">
                <li routerLinkActive="active"  >
                  <a href="javascript:;">
                    <span class="nav-label">{{(child.translate | translate) || child.title}}</span>
                    <i aria-hidden="true" class="arrow la la-angle-right"></i>
                  </a>
                  <ul class="nav-3-level collapse" routerLinkActive="in">
                    <li *ngFor="let child2 of child.children">
                      <a routerLink="{{child.url + child2.url}}"
                         routerLinkActive="active">{{(child2.translate | translate) || child2.title | translate}}</a>
                    </li>
                  </ul>
                </li>
              </ng-container>
            </ng-container>
          </ul>
        </li>
      </ng-template>
    </ng-template>
  </ng-container>

  <ng-container>
    <li class="footer">
      <div class='wrapper text-center'>
        <div class="btn-group btn-group-toggle">
          <button mat-icon-button (click)="refresh()" class="mr-4"><em class="fas fa-sync"></em></button>
          <button mat-icon-button (click)="expand()" class="ml-4"><em class="fas fa-expand"></em></button>
        </div>
      </div>
    </li>
  </ng-container>

</ul>
