<div class="card">
  <div class="title">
    <em class="fa fa-arrow-left mr-2" (click)="goBack()"></em>
    DETTAGLIO DELL'ORDINE
  </div>

  <div class="card-body" *ngIf="purchase">
    <div class="row" style="font-size: 12px;">

      <div class="col-3" style="border-right: 1px solid gainsboro;">
        <div class="form-group">
          <label><strong>Codice ordine: </strong></label>
          <span style="float: right">
            {{purchase.code}}
          </span>
        </div>
        <div class="form-group">
          <label><strong>Data ordine: </strong></label>
          <span style="float: right">
            {{purchase.createdAt | date: 'dd/MM/yyyy \'alle\' HH:mm'}}
          </span>
        </div>
        <div class="form-group">
          <label><strong>Destinario: </strong></label>
          <span style="float: right">
            {{purchase.address.zipCode.city}},
            {{purchase.address.zipCode.province}},
            {{purchase.address.zipCode.cap}},
            {{purchase.address.zipCode.country}}
          </span>
        </div>
        <div class="form-group">
          <label><strong>Spedizione:</strong> </label>
          <span style="float: right">
            {{purchase.shipment | localTranslate: 'description'}}
          </span>
        </div>
        <div class="form-group">
          <button class="btn btn-block" type="button" (click)="openModal(modalAddress)">
            Info Indirizzo
          </button>
        </div>
      </div>

      <div class="col-3" style="border-right: 1px solid gainsboro;">
        <div class="form-group">
          <label><strong>Punti vendita: </strong></label>
          <span style="float: right">
            {{purchase.sellPoint.name}}
          </span>
        </div>
        <div class="form-group">
          <label><strong>Codice cliente: </strong></label>
          <span style="float: right">
            {{purchase.client.code}}
          </span>
        </div>
        <div class="form-group">
          <label><strong>Nome Cognome: </strong></label>
          <span style="float: right">
            {{purchase.client.firstName + ' ' + purchase.client.lastName}}
          </span>
        </div>
        <div class="form-group">
          <button class="btn btn-block" type="button" (click)="openModal(modalClient)">
            Info Cliente
          </button>
        </div>
      </div>

      <div class="col-3" style="border-right: 1px solid gainsboro;">
        <div class="form-group">
          <label><strong>Fonte: </strong></label>
          <span style="float: right">
            {{purchase.source}}
          </span>
        </div>
        <div class="form-group">
          <label><strong>Fattura: </strong></label>
          <span style="float: right">
            {{purchase.billing ? ('COMMON.YES' | translate) : ('COMMON.NO' | translate)}} &nbsp;
            <span *ngIf="purchase.billing">
              |
              <em class="ml-2 fa fa-upload"
                  ngbTooltip="{{'Caricare la fatturazione' | translate}}"
                  placement="top"
                  *ngIf="!purchase.billingInUpload"
                  (click)="openModalBilling(modalUploadBilling)"></em>
              <em class="ml-2 mr-2 fa fa-spin fa-spinner"
                  *ngIf="purchase.billingInUpload"></em>
            </span>
          </span>
          <div class="text-right" *ngIf="purchase.billingUrl">
            <a href="{{purchase.billingUrl}}" target="_blank" class="mr-2">
              {{purchase.billingUrl.substring(purchase.billingUrl.indexOf('billing-purchase/') + 17, purchase.billingUrl.indexOf('?'))}}
            </a> |
            <em class="ml-2 mr-2 fa fa-download"
                ngbTooltip="{{'Scarica la fatturazione' | translate}}"
                placement="bottom"
                (click)="downloadAttachment(purchase.billingUrl, purchase.billingUrl.substring(purchase.billingUrl.indexOf('billing-purchase/') + 17,
                 purchase.billingUrl.indexOf('?')))"></em>
            |
            <em class="ml-2 ft-trash-2"
                ngbTooltip="{{'Rimuovi la fatturazione' | translate}}"
                placement="bottom"
                *ngIf="!purchase.billingInUpload"
                (click)="removeBillingFile()"></em>
            <em class="ml-2 mr-2 fa fa-spin fa-spinner"
                *ngIf="purchase.billingInUpload"></em>
          </div>
        </div>
        <div class="form-group">
          <label><strong>Nota Cliente: </strong></label>
          <span style="float: right; cursor: pointer; text-decoration: underline" (click)="openModal(modalClientNote)">
            Vedi Nota
          </span>
        </div>
        <div class="form-group" *ngIf="false">
          <label><strong>Lista di prelievo : </strong></label>

          <span style="float: right; cursor: pointer; text-decoration: underline"
                *ngIf="!purchase.pickingListUrl && !purchase.receiptInChange"
                (click)="generatePickingListFile('PICKING')">
            creare
          </span>
          <em class="ml-2 mr-2 fa fa-spin fa-spinner pull-right"
              *ngIf="purchase.receiptInChange"></em>

          <div class="text-right" *ngIf="purchase.pickingListUrl">
            <a href="{{purchase.pickingListUrl}}" target="_blank" class="mr-2">
              {{purchase.pickingListUrl.substring(purchase.pickingListUrl.indexOf('picking-purchase/') + 17, purchase.pickingListUrl.indexOf('?'))}}
            </a> |
            <em class="ml-2 mr-2 fa fa-download"
                ngbTooltip="{{'Scarica le prelievo' | translate}}"
                placement="bottom"
                (click)="downloadAttachment(purchase.pickingListUrl, purchase.pickingListUrl.substring(purchase.pickingListUrl.indexOf('picking-purchase/') + 17,
                 purchase.pickingListUrl.indexOf('?')))"></em>
            |
            <em class="ml-2 ft-trash-2"
                ngbTooltip="{{'Rimuovi le prelievo' | translate}}"
                placement="bottom"
                *ngIf="!purchase.receiptInChange"
                (click)="removePickingListFile('PICKING')"></em>
            <em class="ml-2 mr-2 fa fa-spin fa-spinner"
                *ngIf="purchase.receiptInChange"></em>
          </div>

        </div>
        <div class="form-group" *ngIf="false">
          <label><strong>Ricevuta : </strong></label>

          <span style="float: right; cursor: pointer; text-decoration: underline"
                *ngIf="!purchase.receiptUrl && !purchase.receiptInChange"
                (click)="generatePickingListFile('RECEIPT')">
            creare
          </span>
          <em class="ml-2 mr-2 fa fa-spin fa-spinner pull-right"
              *ngIf="purchase.receiptInChange"></em>

          <div class="text-right" *ngIf="purchase.receiptUrl">
            <a href="{{purchase.receiptUrl}}" target="_blank" class="mr-2">
              {{purchase.receiptUrl.substring(purchase.receiptUrl.indexOf('receipt-purchase/') + 17, purchase.receiptUrl.indexOf('?'))}}
            </a> |
            <em class="ml-2 mr-2 fa fa-download"
                ngbTooltip="{{'Scarica le ricevuta' | translate}}"
                placement="bottom"
                (click)="downloadAttachment(purchase.receiptUrl, purchase.receiptUrl.substring(purchase.receiptUrl.indexOf('receipt-purchase/') + 17,
                 purchase.receiptUrl.indexOf('?')))"></em>
            |
            <em class="ml-2 ft-trash-2"
                ngbTooltip="{{'Rimuovi le ricevuta' | translate}}"
                placement="bottom"
                *ngIf="!purchase.receiptInChange"
                (click)="removePickingListFile('RECEIPT')"></em>
            <em class="ml-2 mr-2 fa fa-spin fa-spinner"
                *ngIf="purchase.receiptInChange"></em>
          </div>

        </div>
        <div class="form-group">
          <button class="btn btn-block" type="button" (click)="openModal(modalPickingReceipt, 'auto')">
            Lista Prelievo & Ricevuta
          </button>
        </div>
        <div class="form-group">
          <button class="btn btn-block" type="button" (click)="openModal(modalPayment)">
            Info Pagamento
          </button>
        </div>
      </div>

      <div class="col-3">
        <div class="form-group">
          <label><strong>Stato attuale: </strong></label>
          <span style="float: right">
            {{'PURCHASE_FORM.STATE.' + purchase.state | translate}}
            <span *ngIf="purchase.state.toString() === 'CANCELED'">
              (dall {{purchase.stateHistoryList[0].operator ? 'Operatore' : 'Cliente'}})
            </span>
          </span>
        </div>
        <div class="form-group" *ngIf="canChangeState(purchase)">
          <button class="btn btn-block" type="button" *ngIf="!purchase.stateInChange"
                  (click)="openModalState(modalState)">
            Cambia Stato
          </button>
          <button class="btn btn-block" type="button" disabled *ngIf="purchase.stateInChange">
            <em class="fa fa-spin fa-spinner"></em>
          </button>
        </div>
        <div class="form-group">
          <button class="btn btn-block" type="button" (click)="openModal(modalStateHistory)">
            Storico
          </button>
        </div>

        <!-- sellPoint purchase        -->
        <div  *ngIf="pluginConfiguration && pluginConfiguration.sellPointEnabled">
          <div class="form-group" >
            <label><strong>Invia Ordine SP: </strong></label>
            <span style="float: right">
              {{purchase.sentToSellPoint ? 'Si' : 'No'}}
              <span *ngIf="purchase.sentToSellPoint">
                <br/>
                {{purchase.sellPointPurchaseId}}
                <br/>
                {{purchase.sentToSellPointAt |date : 'dd-MM-yyyy HH:mm'}}
              </span>
            </span>
          </div>
          <div class="form-group" *ngIf="!purchase.sentToSellPoint &&
        (purchase.state.toString() === 'IN_DELIVERY' || purchase.state.toString() === 'DELIVERED')">
            <button class="btn btn-block" type="button" *ngIf="purchase.sellPointError"
                    (click)="openModal(modalSellPointError)">
              Visualizza errore
            </button>
            <button class="btn btn-block" type="button" *ngIf="!purchase.stateInChange"
                    (click)="resendPurchaseToSellPoint(purchase)">
              Rinvia l'ordine a SellPoint
            </button>
            <button class="btn btn-block" type="button" disabled *ngIf="purchase.stateInChange">
              <em class="fa fa-spin fa-spinner"></em>
            </button>
          </div>

        </div>

        <!-- foodManager purchase        -->
        <div  *ngIf="pluginConfiguration && pluginConfiguration.foodManagerEnabled">
          <div class="form-group" >
            <label><strong>Invia Ordine FM: </strong></label>
            <span style="float: right">
              {{purchase.sentToFoodManager ? 'Si' : 'No'}}
              <span *ngIf="purchase.sentToFoodManager">
                <br/>
                {{purchase.foodManagerPurchaseId}}
                <br/>
                {{purchase.sentToFoodManagerAt |date : 'dd-MM-yyyy HH:mm'}}
              </span>
            </span>
          </div>
          <div class="form-group" *ngIf="!purchase.sentToFoodManager &&
        (purchase.state.toString() === 'IN_DELIVERY' || purchase.state.toString() === 'DELIVERED')">
            <button class="btn btn-block" type="button" *ngIf="purchase.foodManagerError"
                    (click)="openModal(modalFoodManagerError)">
              Visualizza errore
            </button>
            <button class="btn btn-block" type="button" *ngIf="!purchase.stateInChange"
                    (click)="resendPurchaseToFoodManager(purchase)">
              Rinvia l'ordine a FoodManager
            </button>
            <button class="btn btn-block" type="button" disabled *ngIf="purchase.stateInChange">
              <em class="fa fa-spin fa-spinner"></em>
            </button>
          </div>
        </div>
      </div>

    </div>

    <div class="row mt-3 d-flex align-items-center justify-content-between" >
      <div class="col-8 form-group">
        <span class="p-2 mr-2 not-available-row" style="background: lightcoral">
            non disponibili
          </span>
        <span class="p-2 mr-2 replace-row" style="background: lightgreen">
            sostituto
        </span>
        <span class="p-2 mr-2 added-row" style="background: lightcyan">
            aggiunti
        </span>
      </div>
      <div class="col-2 form-group" *ngIf="purchase?.state.toString() === 'IN_PREPARATION'">
        <button class="btn btn-block" type="button" (click)="openProductFilterModal()">
          Aggiungi prodotto
        </button>
      </div>
    </div>

    <div class="row" [class.mt-3]="purchase?.state.toString() !== 'IN_PREPARATION'">

      <div class="col-12">
        <table class="table table-sm table-bordered" aria-describedby="">
          <tr>
            <th scope="col">RowID</th>
            <th scope="col">EAN</th>
            <th scope="col">Descrizione</th>
            <th scope="col">Prezzo</th>
            <th scope="col" class="text-center">Q.tà Ordinata</th>
            <th scope="col" class="text-center">Q.tà Consegnata</th>
            <th scope="col" class="text-center">Sostituibilità</th>
            <th scope="col" class="text-center">Aggiunto</th>
            <th scope="col">Sconti</th>
            <th scope="col">Prezzo Totale</th>
            <th scope="col" class="text-center">Ancora disponibile</th>
          </tr>
          <tbody>
          <tr *ngIf="purchase.purchaseRowList && !purchase.purchaseRowList.length">
            <td colspan="10" class="text-center">
              Nessun row trovato
            </td>
          </tr>
          <tr *ngFor="let row of purchase?.purchaseRowList; let i=index"
              [class.not-available-row]="purchase?.state.toString() !== 'NEW' && purchase?.state.toString() !== 'CANCELED' && row.quantityDelivered <= 0"
              [class.replace-row]="purchase?.state.toString() !== 'NEW' && purchase?.state.toString() !== 'CANCELED'
              && row.added && row.replaceRowId"
              [class.added-row]="purchase?.state.toString() !== 'NEW' && purchase?.state.toString() !== 'CANCELED'
              && row.added && !row.replaceRowId"
          >
            <td>
              {{row.id}}
            </td>
            <td>
              {{row.product?.productCodes[0]?.code}}
            </td>
            <td>
              {{row.product | localTranslate: 'description'}}
              <div *ngIf="row?.colorValue" class="variation">
                <strong>Colore:</strong> {{row?.colorValue}}
              </div>
              <div *ngIf="row?.sizeValue" class="variation">
                <strong>Taglia:</strong> {{row?.sizeValue}}
              </div>
            </td>
            <td>
              <div *ngIf="row.weighted">
                {{row.priceKgLtr | number: "1.2-2" | numberCommaseparator }}€/{{row.priceKgLtrUm}}
              </div>
              <span *ngIf="row.couponUnitPrice <= 0">
                <span *ngIf="!row.inOffer">
                  {{row.price | number: "1.2-2" | numberCommaseparator }}€/{{priceService.getUnit(row)}}
                </span>
                <span *ngIf="row.inOffer">
                  {{row.priceInOffer | number: "1.2-2" | numberCommaseparator }}€/{{priceService.getUnit(row)}}
                  <del class="ml-2">{{row.price | number: "1.2-2" | numberCommaseparator }}€</del>
                </span>
              </span>
              <span *ngIf="row.couponUnitPrice > 0">
                {{row.couponUnitPrice | number: "1.2-2" | numberCommaseparator }}€/{{priceService.getUnit(row)}}
                <span *ngIf="row.inOffer" class="ml-2">
                   <del>{{row.priceInOffer | number: "1.2-2" | numberCommaseparator }}€</del>
                </span>
                <del class="ml-2">{{row.price | number: "1.2-2" | numberCommaseparator }}€</del>
              </span>
            </td>
            <td class="text-center">
              <div *ngIf="!row.weighted">
                {{row.quantityOrdered}}
              </div>
              <div *ngIf="row.weighted">
                {{priceService.getWeightQuantityInRow(row, row.quantityOrdered)}}
              </div>
            </td>
            <td class="text-center">
              <span *ngIf="!row.editQte && row.quantityDelivered > 0">
                  <span *ngIf="!row.weighted">
                    {{row.quantityDelivered}}
                  </span>
                  <span *ngIf="row.weighted">
                    {{priceService.getWeightQuantityInRow(row, row.quantityDelivered)}}
                  </span>
              </span>
              <span class="pull-right" *ngIf="!row.replacedByRowId && !row.editQte && purchase.state.toString() === 'IN_PREPARATION'">
                <em class="fa fa-edit" (click)="row.editQte = true"></em>
              </span>
              <div class="form-row" [hidden]="row.replacedByRowId || !row.editQte">
                  <div class="input-group">
                    <input type="number" [id]="'row_' + row.id" min="0" [tabIndex]="i"
                           [value]="row.weighted ? (row.quantityDelivered * row.weight) : row.quantityDelivered"
                           (keyup.enter)="saveQte(row)"
                           (keydown.tab)="passToOtherRow($event, row, i); false"
                           (keydown.shift.tab)="passToOtherRow($event, row, i, true); false"
                           class="form-control form-control-sm">
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <em class="fa fa-save mr-2" (click)="saveQte(row)"></em>
                        <em class="fa fa-window-close" (click)="row.editQte = false"></em>
                      </span>
                    </div>
                  </div>
              </div>
            </td>
            <td class="text-center">
              <span>{{row.replaceable ? ('COMMON.YES' | translate) : ('COMMON.NO' | translate)}}</span>
              <em class="fa fa-plus ml-2" *ngIf="!row.replacedByRowId && row.replaceable && purchase.state.toString() === 'IN_PREPARATION'"
                  (click)="openProductFilterModal(row)"></em>
              <div *ngIf="row.replaceable && row.replacedByRowId"> ( sostituito da rowId =  {{row.replacedByRowId}} )</div>
            </td>
            <td class="text-center">
              <span>{{row.added ? ('COMMON.YES' | translate) : ('COMMON.NO' | translate)}}</span>
              <span *ngIf="row.added && purchase.state.toString() === 'IN_PREPARATION'">
                (<em class="fa fa-trash" (click)="removeRow(row)" style="font-size: 10px !important;"></em>)
              </span>

            </td>
            <td>
              <span *ngIf="row.discount > 0">-{{row.discount | number: "1.2-2" | numberCommaseparator }}€</span>
            </td>
            <td>
              <span *ngIf="row.couponTotalPrice <= 0">
                {{row.rowTotal | number: "1.2-2" | numberCommaseparator }}€
              </span>
              <span *ngIf="row.couponTotalPrice > 0">
                {{row.couponTotalPrice | number: "1.2-2" | numberCommaseparator }}€
                <del class="ml-2">{{row.rowTotal | number: "1.2-2" | numberCommaseparator }}€</del>
              </span>
            </td>
            <td class="text-center">
              {{row.product.availability > 0 ? ('COMMON.YES' | translate) : ('COMMON.NO' | translate)}}
              ( {{getValidStock(row.product)}} )
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-6"></div>
      <div class="col-6 text-right">
        <table class="table table-sm" aria-describedby="">
          <thead>
          <tr>
            <th scope="col" class="text-right">&nbsp;</th>
            <th scope="col" class="text-right">Ordinato</th>
            <th scope="col" class="text-right">Consegnato</th>
          </tr>
          </thead>
          <tbody>
          <tr class="text-right">
            <td>Totale prodotti</td>
            <td>
              {{purchase.initialProductTotal + purchase.initialDiscountTotal | number: "1.2-2" | numberCommaseparator }}€
            </td>
            <td>
              {{purchase.finalProductTotal + purchase.finalDiscountTotal| number: "1.2-2" | numberCommaseparator }}€
            </td>
          </tr>
          <tr>
            <td>Sconti</td>
            <td>
              {{purchase.initialDiscountTotal| number: "1.2-2" | numberCommaseparator }}€
            </td>
            <td>
              {{purchase.finalDiscountTotal| number: "1.2-2" | numberCommaseparator }}€
            </td>
          </tr>
          <tr>
            <td>Supplementi</td>
            <td>
              {{purchase.initialSupplement | number: "1.2-2" | numberCommaseparator }}€
            </td>
            <td>
              {{purchase.finalSupplement | number: "1.2-2" | numberCommaseparator }}€
            </td>
          </tr>
          <tr>
            <td>Convenzioni</td>
            <td>
              {{purchase.initialConventionTotal| number: "1.2-2" | numberCommaseparator }}€
            </td>
            <td>
              {{purchase.finalConventionTotal| number: "1.2-2" | numberCommaseparator }}€
            </td>
          </tr>
          <tr *ngIf="purchase.coupon && purchase.coupon.discountType.toString() === 'PERCENT' ">
            <td>Coupon ({{purchase.coupon.code}})</td>
            <td>
              -{{purchase.initialCouponDiscountTotal| number: "1.2-2" | numberCommaseparator }}€
            </td>
            <td>
              -{{purchase.finalCouponDiscountTotal| number: "1.2-2" | numberCommaseparator }}€
            </td>
          </tr>
          <tr>
            <td>Spedezione</td>
            <td>
              {{purchase.initialShippingCost | number: "1.2-2" | numberCommaseparator }}€
            </td>
            <td>
              {{purchase.finalShippingCost | number: "1.2-2" | numberCommaseparator }}€
            </td>
          </tr>
          <tr>
            <td>Commissioni di pagamento</td>
            <td>
              {{purchase.paymentCostTotal | number: "1.2-2" | numberCommaseparator }}€
            </td>
            <td>
              <span *ngIf="purchase.state.toString() === 'IN_DELIVERY' || purchase.state.toString() === 'DELIVERED'
              || purchase.state.toString() === 'IN_PREPARATION'">
                {{purchase.paymentCostTotal | number: "1.2-2" | numberCommaseparator }}€
              </span>
              <span *ngIf="!(purchase.state.toString() === 'IN_DELIVERY' || purchase.state.toString() === 'DELIVERED'
              || purchase.state.toString() === 'IN_PREPARATION')">
                {{0 | number: "1.2-2" | numberCommaseparator }}€
              </span>
            </td>
          </tr>
          <tr>
            <td>Totale ordine</td>
            <td>
              {{purchase.initialTotal | number: "1.2-2" | numberCommaseparator }}€
            </td>
            <td>
              {{purchase.finalTotal | number: "1.2-2" | numberCommaseparator }}€
            </td>
          </tr>

          <tr *ngIf="purchase.coupon && purchase.coupon.discountType.toString() === 'VALUE' ">
            <td>Coupon a valore ({{purchase.coupon.code}})</td>
            <td>
              -{{purchase.initialCouponDiscountTotal| number: "1.2-2" | numberCommaseparator }}€
            </td>
            <td>
              -{{purchase.finalCouponDiscountTotal| number: "1.2-2" | numberCommaseparator }}€
            </td>
          </tr>
          <tr>
            <td><strong>Totale da pagare</strong></td>
            <td>
              <strong>{{purchase.initialTotalToPay | number: "1.2-2" | numberCommaseparator }}€</strong>
            </td>
            <td>
              <strong>{{purchase.finalTotalToPay | number: "1.2-2" | numberCommaseparator }}€</strong>
            </td>
          </tr>

          <tr *ngIf="purchase.payment.type.toString() === 'STRIPE' || purchase.payment.type.toString() === 'PAYPAL'">
            <td><strong>Totale preautorizzato</strong></td>
            <td>
              <strong>{{purchase.preauthorizedAmount | number: "1.2-2" | numberCommaseparator }}€</strong>
            </td>
          </tr>

          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>

<ng-template #modalState>

  <div class="modal-header">
    <h4 mat-dialog-title>Cambio Stato</h4>
    <button type="button" mat-button mat-dialog-close>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="stateForm">
      <div class="form-row">
        <div class="form-group col-lg-12 col-md-12">
          <label>Nuovo Stato</label>
          <ng-select class="ng-select-sm ng-select-required"
                     [items]="stateList"
                     [bindLabel]="'label'"
                     [bindValue]="'id'"
                     formControlName="state"
                     placeholder="Seleziona nuovo stato">
          </ng-select>
        </div>

        <div class="form-group col-lg-12 col-md-12">
          <label>Nota</label>
          <textarea rows="5" placeholder="nota" class="form-control form-control-sm" formControlName="note">
          </textarea>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <div mat-dialog-actions>
      <button mat-flat-button class="mr-3" (click)="modal.close(false)">
        {{'BUTTONS.CLOSE' | translate}}
      </button>
      <button mat-flat-button color="primary" [disabled]="stateForm.invalid" (click)="modal.close(true)">
        {{'BUTTONS.SAVE' | translate}}
      </button>
    </div>
  </div>
</ng-template>


<ng-template #modalStateHistory>
  <div class="modal-header">
    <h4 mat-dialog-title>Storia dello stato</h4>
    <button type="button" mat-button mat-dialog-close>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <table class="table table-sm table-bordered">
      <thead>
      <tr>
        <th scope="col"><strong>Operatore</strong></th>
        <th scope="col"><strong>Stato</strong></th>
        <th scope="col"><strong>Data</strong></th>
        <th scope="col"><strong>Nota</strong></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="purchase?.stateHistoryList && !purchase?.stateHistoryList.length">
        <td colspan="4" class="text-center">
          No record trovato
        </td>
      </tr>
      <tr *ngFor="let stateHistory of purchase?.stateHistoryList">
        <td>
          <span *ngIf="stateHistory.operator">
            {{stateHistory.operator?.firstName + ' ' + stateHistory.operator?.lastName }}
          </span>
          <span *ngIf="!stateHistory.operator">
            Cliente
          </span>
        </td>
        <td>
          {{'PURCHASE_FORM.STATE.' + stateHistory.state.toString() | translate}}
        </td>
        <td>
          {{stateHistory.createdAt | date: 'dd/MM/yyyy \'alle\' HH:mm'}}
        </td>
        <td>
          {{stateHistory.note}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-template>

<ng-template #modalClient>
  <div class="modal-header">
    <h4 mat-dialog-title>Dettaglio del cliente</h4>
    <button type="button" mat-button mat-dialog-close>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="container">
      <div class="form-row">
        <div class="form-group col-12">
          <label><strong>Codice cliente : </strong></label>
          <span style="float: right">
            {{purchase.client?.code}}
          </span>
        </div>
        <div class="form-group col-12">
          <label><strong>Nome Cognome : </strong></label>
          <span style="float: right">
            {{purchase.client?.firstName + ' ' + purchase.client?.lastName}}
          </span>
        </div>
        <div class="form-group col-12">
          <label><strong>Sesso : </strong></label>
          <span style="float: right">
            <i  aria-hidden="true" class="fas fa-mars" style="color: #06B5B6" *ngIf="purchase.client?.gender?.toString() === 'MALE'"></i>
            <i  aria-hidden="true" class="fas fa-venus" style="color: #E50054" *ngIf="purchase.client?.gender?.toString() === 'FEMALE'"></i>
            <i  aria-hidden="true" class="fas fa-transgender"  *ngIf="purchase.client?.gender?.toString() === 'OTHER'"></i>
          </span>
        </div>
        <div class="form-group col-12">
          <label><strong>Data di nascita : </strong></label>
          <span style="float: right">
            {{purchase.client?.dateOfBirth | date: 'dd/MM/yyyy'}}
          </span>
        </div>
        <div class="form-group col-12">
          <label><strong>Telefono : </strong></label>
          <span style="float: right">
            {{purchase.client?.mobilePrefix + ' ' + purchase.client?.mobile}}
          </span>
        </div>
        <div class="form-group col-12">
          <label><strong>Email : </strong></label>
          <span style="float: right">
            {{purchase.client?.email}}
          </span>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #modalAddress>
  <div class="modal-header">
    <h4 mat-dialog-title>Dettaglio del indirizzo</h4>
    <button type="button" mat-button mat-dialog-close>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="container">
      <div class="form-row">

        <div class="form-group col-6" style="border-right: 1px solid gainsboro">
          <label><strong>Nome Cognome : </strong></label>
          <span style="float: right">
            {{purchase.address?.surname + ' ' + purchase.address?.name}}
          </span>
        </div>
        <div class="form-group col-6">
          <label><strong>Telefono : </strong></label>
          <span style="float: right">
            {{purchase.address?.mobilePrefix + ' ' + purchase.address?.mobile}}
          </span>
        </div>

        <div class="form-group col-6" style="border-right: 1px solid gainsboro">
          <label><strong>Indirizzo di spedizione : </strong></label>
          <span style="float: right">
            {{purchase.address?.shippingAddress}}
          </span>
        </div>
        <div class="form-group col-6">
          <label><strong>Civico : </strong></label>
          <span style="float: right">
            {{purchase.address?.streetNumber}}
          </span>
        </div>

        <div class="form-group col-6" style="border-right: 1px solid gainsboro">
          <label><strong>Destinario </strong></label>
          <span style="float: right">
            {{purchase.address?.zipCode.city}},
            {{purchase.address?.zipCode.province}},
            {{purchase.address?.zipCode.cap}},
            {{purchase.address?.zipCode.country}}
          </span>
        </div>
        <div class="form-group col-6">
          <label><strong>Piano : </strong></label>
          <span style="float: right">
            {{purchase.address?.floor}}
          </span>
        </div>

        <div class="form-group col-6" style="border-right: 1px solid gainsboro">
          <label><strong>Appartamento :  </strong></label>
          <span style="float: right">
            {{purchase.address?.apartment}}
          </span>
        </div>
        <div class="form-group col-6">
          <label><strong>Citofono : </strong></label>
          <span style="float: right">
            {{purchase.address?.intercom}}
          </span>
        </div>
        <div class="form-group col-6">
          <label><strong>Ascensore : </strong></label>
          <span style="float: right">
            {{purchase.address?.elevator ? 'Si' : 'No'}}
          </span>
        </div>

        <div class="form-group col-12">
          <label><strong>Nota </strong></label>
          <p style="border: 0.5px solid gainsboro; width: 100%; height: 100px; overflow-y: auto">
            {{purchase.address?.notes}}
          </p>
        </div>

        <div class="form-group col-12" style="border-bottom: 1px solid gainsboro">
          <h5>Dati di fatturazione</h5>
        </div>


        <div class="form-group col-6" style="border-right: 1px solid gainsboro">
          <label><strong>Indirizzo : </strong></label>
          <span style="float: right">
            {{purchase.address?.address}}
          </span>
        </div>
        <div class="form-group col-6">
          <label><strong>Codice Fiscale : </strong></label>
          <span style="float: right">
            {{purchase.address?.fiscalCode}}
          </span>
        </div>

        <div class="form-group col-6" style="border-right: 1px solid gainsboro">
          <label><strong>IVA : </strong></label>
          <span style="float: right">
            {{purchase.address?.iva}}
          </span>
        </div>
        <div class="form-group col-6">
          <label><strong>PEC : </strong></label>
          <span style="float: right">
            {{purchase.address?.fiscalCode}}
          </span>
        </div>
        <div class="form-group col-6">
          <label><strong>Codice di destinazione : </strong></label>
          <span style="float: right">
            {{purchase.address?.codeDestination}}
          </span>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #modalClientNote>
  <div class="modal-header">
    <h4 mat-dialog-title>Nota del cliente</h4>
    <button type="button" mat-button mat-dialog-close>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="container">
      <div class="form-row">
        <div class="form-group col-12">
          <p style="border: 1px solid black; padding: 5px; width: 100%;
          min-height: 100px; overflow-y: auto;
          max-height: 500px">
            {{purchase.noteClient ? purchase.noteClient : 'Nessun nota'}}
          </p>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #modalFoodManagerError>
  <div class="modal-header">
    <h4 mat-dialog-title>Errore</h4>
    <button type="button" mat-button mat-dialog-close>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="container">
      <div class="form-row">
        <div class="form-group col-12">
          <p style="border: 1px solid black; padding: 5px; width: 100%;
          min-height: 100px; overflow-y: auto;
          max-height: 500px">
            {{purchase.foodManagerError}}
          </p>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #modalSellPointError>
  <div class="modal-header">
    <h4 mat-dialog-title>Errore</h4>
    <button type="button" mat-button mat-dialog-close>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="container">
      <div class="form-row">
        <div class="form-group col-12">
          <p style="border: 1px solid black; padding: 5px; width: 100%;
          min-height: 100px; overflow-y: auto;
          max-height: 500px">
            {{purchase.sellPointError}}
          </p>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #modalPayment>
  <div class="modal-header">
    <h4 mat-dialog-title>Dettaglio del pagamento</h4>
    <button type="button" mat-button mat-dialog-close>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="container">
      <div class="form-row">
        <div class="form-group col-12">
          <label><strong>Modàlita di pagamento : </strong></label>
          <span style="float: right">
            {{purchase.payment.description}}
          </span>
        </div>
        <div class="form-group col-12">
          <label><strong>Date e ora ordine : </strong></label>
          <span style="float: right">
            {{purchase.createdAt | date: 'dd/MM/yyyy - HH:mm'}}
          </span>
        </div>
      </div>

      <div class="form-row" style="border-top: 1px solid gainsboro;" *ngIf="onlineTransaction">
        <div class="form-group col-md-6 col-6">
          <label>Totale Pre-autorizzato : </label>
          <span style="float: right">
            {{onlineTransaction.initialAmount | number: "1.2-2" | numberCommaseparator }}€
          </span>
        </div>
        <div class="form-group col-md-6 col-6">
          <label>Id : </label>
          <span style="float: right">
            {{onlineTransaction.id}}
          </span>
        </div>
        <div class="form-group col-md-6 col-6">
          <label>Codice : </label>
          <span style="float: right">
            {{onlineTransaction.code}}
          </span>
        </div>
        <div class="form-group col-md-6 col-6"></div>
        <div class="form-group col-md-6 col-6">
          <label>Stato : </label>
          <span style="float: right">
            {{onlineTransaction.status}}
          </span>
        </div>
        <div class="form-group col-md-6 col-6">
          <label>Data di aggiornamento : </label>
          <span style="float: right" *ngIf="onlineTransaction.updatedAt">
            {{onlineTransaction.updatedAt | date: 'dd/MM/yyyy - HH:mm'}}
          </span>
          <span style="float: right" *ngIf="!onlineTransaction.updatedAt">
            -
          </span>
        </div>
        <div class="form-group col-md-6 col-6">
          <label>Totale importo : </label>
          <span style="float: right">
            {{onlineTransaction.finalAmount | number: "1.2-2" | numberCommaseparator }}€
          </span>
        </div>
      </div>
    </div>
  </div>

</ng-template>

<ng-template #modalPickingReceipt>
  <div class="modal-header">
    <h4 mat-dialog-title>Lista Prelievo & Ricevuta</h4>
    <button type="button" mat-button mat-dialog-close class="ml-3">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="container">
      <div class="form-row">
        <div class="form-group col-12">
          <button class="btn btn-block" type="button"
                  *ngIf="!purchase.pickingInChange"
                  (click)="generatePickingListFile('PICKING')">
            <em class="fa fa-download"></em>
            Lista Prelievo
          </button>
          <button class="btn btn-block" type="button" *ngIf="purchase.pickingInChange">
            <em class="ml-2 mr-2 fa fa-spin fa-spinner"></em>
          </button>

        </div>
        <div class="form-group col-12">
          <button class="btn btn-block" type="button" *ngIf="!purchase.receiptInChange"
                  [disabled]="!isInDelivery(purchase)"
                  (click)="generatePickingListFile('RECEIPT')">
            <em class="fa fa-download"></em>
            Ricevuta
          </button>
          <button class="btn btn-block" type="button" *ngIf="purchase.receiptInChange">
            <em class="ml-2 mr-2 fa fa-spin fa-spinner"></em>
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #modalUploadBilling>
  <div class="modal-header">
    <h4 mat-dialog-title>Caricare fatturazione</h4>
    <button type="button" mat-button mat-dialog-close>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form>
      <div class="form-row">
        <div class="form-group col-12">
          <h5>File di fatturazione</h5>
          <label for="billingFile" class="btn btn-light">
            <em class="fa fa-upload"></em> Caricare files
          </label>
          <span>
              {{fileInput.files.length}} file caricati
            <span *ngIf="billingFile">({{billingFile.name}})</span>
          </span>
          <input type="file" id="billingFile" (change)="fileChange($event)"
                 #fileInput style="visibility: hidden"/>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <div mat-dialog-actions>
      <button mat-flat-button class="mr-3" (click)="modal.close(false)">
        {{'BUTTONS.CLOSE' | translate}}
      </button>
      <button mat-flat-button color="primary" [disabled]="!billingFile" (click)="modal.close(true)">
        {{'BUTTONS.SAVE' | translate}}
      </button>
    </div>
  </div>
</ng-template>
