.title {
  padding: 5px 15px !important;
  border-bottom: 1px solid gainsboro
}

.not-available-row {
  background: lightcoral !important;
}
.replace-row {
  background: lightgreen !important;
}

.added-row {
  background: lightcyan !important;
}
