:host {
    display: block;
    height: 100%;
    font-size: 12px;
  }
  .my-container {
    height: 100%;
    position: relative;
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.25) 200%);
    background-blend-mode: multiply;
  }
  mat-card {
    width: 330px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  mat-card-content {
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .languages {
    padding: .5rem 1rem;
    a {
      margin-right: 10px;
    }
  
    a.disabled {
      color: #828282;
      pointer-events: none;
    }
  }