<div class="container-fluid pt-4">
  <form [formGroup]="productConfigForm" class="form-row" (ngSubmit)="saveSmsConfig()" id="smsForm">

    <div class="row col-12">
      <div class="form-group col-8">
        <h6>{{'General config' | translate}}</h6>
      </div>
      <div class="form-group col-4 d-flex align-items-end justify-content-end">
        <button mat-flat-button color="primary" form="smsForm" [disabled]="productConfigForm.invalid">
          <mat-icon>save</mat-icon>
          {{'BUTTONS.SAVE' | translate}}
        </button>
      </div>
    </div>

    <div class="form-group col-6">
      <label>{{'manage Stock By sell point' | translate}} :</label>
      <div class="d-flex justify-content-left align-items-left">
        <label class="checkbox checkbox-outline-primary">
          <input type="checkbox" formControlName="manageStockBySp">
          <span>{{' ' | translate}}</span>
        </label>
      </div>
    </div>
    <div class="form-group col-6">
      <label>{{'price variation' | translate}}:</label>
      <div class="input-group-icon input-group-icon-right">
        <ng-select class="ng-select ng-select-sm" [items]="types" [bindLabel]="'description'"
                   bindValue="id" appendTo="body"
                   (open)="translateTypes()"
                   formGroupName="priceVariation" [virtualScroll]="true"
                   placeholder="{{'price variation' | translate}}">
        </ng-select>
      </div>
    </div>
    <div class="row col-12">
      <div class="form-group col-8">
        <h6>{{'shared variation' | translate}}</h6>
      </div>
      <div class="form-group col-4 d-flex align-items-end justify-content-end">
        <button mat-mini-fab color="primary" (click)="openFormDialog(fieldContent, true)"
                placement="left"
                tooltipClass="custom-tooltip"
                ngbTooltip="{{'BUTTONS.ADD'|translate}}"><i
          class="fas fa-plus"></i>
        </button>
      </div>
    </div>
    <div class="row col-12" style="max-height: 400px">
      <table class="table  table-sm  table-hover table-bordered" style="max-height: 400px">
        <thead>
        <tr>
          <th *ngFor="let c of columns" scope="col">{{c | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let field of sharedFields; let i = index">
          <td>{{field.description}}</td>
          <td>{{'' + field.type | translate}}</td>
          <td class="text-right">
            <i
              [ngStyle]="{'color': !field.inactive ? '#06B5B6':'#E50054'}"
              class="ft-power" placement="top" tooltipClass="custom-tooltip"
              (click)="toggleActivation(field, $event)"
              [ngbTooltip]="(field.inactive ? 'BUTTONS.ENABLED' : 'BUTTONS.DISABLED') | translate">
            </i>
            <i *ngIf="!field.id" class="fa fa-trash" color="warn" (click)="removeField(field, true)"
               style="margin: 7px;" placement="left"
               tooltipClass="custom-tooltip" ngbTooltip="{{'BUTTONS.DELETE'|translate}}">
            </i>
          </td>
        </tr>
        <tr *ngIf="sharedFields.length === 0 && !loading" class="text-center">
          <td colspan="4">{{'DATA_TABLE.NO_CONFIGURATION_FOUND' | translate }}</td>
        </tr>
        </tbody>
      </table>
    </div>


    <div class="row col-12">
      <div class="form-group col-8">
        <h6>{{'custom variation' | translate}}</h6>
      </div>
      <div class="form-group col-4 d-flex align-items-end justify-content-end">
        <button mat-mini-fab color="primary" (click)="openFormDialog(productContent, false)"
                placement="left"
                tooltipClass="custom-tooltip"
                ngbTooltip="{{'BUTTONS.ADD'|translate}}"><i
          class="fas fa-plus"></i>
        </button>
      </div>
    </div>
    <div class="row col-12">
      <table class="table  table-sm  table-hover table-bordered">
        <thead>
        <tr>
          <th *ngFor="let c of specificColumns" scope="col">{{c | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let field of sharedFields; let i = index">
          <td>{{field.description}}</td>
          <td>{{'' + field.type | translate}}</td>
          <td class="text-right">
            <i
              [ngStyle]="{'color': !field.inactive ? '#06B5B6':'#E50054'}"
              class="ft-power" placement="top" tooltipClass="custom-tooltip"
              (click)="toggleActivation(field, $event)"
              [ngbTooltip]="(field.inactive ? 'BUTTONS.ENABLED' : 'BUTTONS.DISABLED') | translate">
            </i>
            <i *ngIf="!field.id" class="fa fa-trash" (click)="removeField(field, false)"
               style="margin: 7px;" placement="left"
               tooltipClass="custom-tooltip" ngbTooltip="{{'BUTTONS.DELETE'|translate}}">
            </i>
          </td>
        </tr>
        <tr *ngIf="sharedFields.length === 0 && !loading" class="text-center">
          <td colspan="5">{{'DATA_TABLE.NO_CONFIGURATION_FOUND' | translate }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>


<ng-template #fieldContent>
  <h1 mat-dialog-title>
    add field
  </h1>
  <hr>
  <div mat-dialog-content>
    <div class="row">
      <div class="form-group col-lg-6 col-sm-12">
        <label for="description"> description </label>
        <input type="text" class="form-control form-control-sm" id="description" [(ngModel)]="descField">
      </div>
      <div class="form-group col-6">
        <label>{{'type' | translate}}:</label>
        <div class="input-group-icon input-group-icon-right">
          <ng-select class="ng-select-type ng-select-sm" [items]="fieldTypes" [bindLabel]="'description'"
                     [bindValue]="'id'" appendTo="body"
                     (open)="translateFieldTypes()"
                     [(ngModel)]="typeField" [virtualScroll]="true"
                     placeholder="{{'PRODUCT_FORM.ETIQUETTE_TYPE' | translate}}">
          </ng-select>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="d-flex justify-content-end" mat-dialog-actions>
    <button (click)="dialogRef.close(null)" class="ml-2" color="secondary" mat-button>{{'BUTTONS.CLOSE' |
        translate}}</button>
    <button (click)="dialogRef.close(true)" color="primary" [disabled]="!typeField||!descField"
            mat-flat-button>{{'BUTTONS.ADD' | translate}}
    </button>
  </div>
</ng-template>


<ng-template #productContent>
  <h1 mat-dialog-title>
    choose products
  </h1>
  <hr>
  <div mat-dialog-content>
    <div class="subheader">
      <div class="container-fluid">
        <form [formGroup]="filterForm">
          <div class="row">
            <div class="form-group col-lg-2 col-md-3">
              <div class="search-input">
                <div class="form-group">
                  <div class="input-group-icon input-group-icon-right">
                  <span class="input-icon input-icon-right reset-search-btn"
                        (click)="filterForm.controls.textSearch.setValue(null)">
                    <em class="ft-x"></em>
                  </span>
                    <input type="text" class="form-control form-control-sm"
                           placeholder="{{'SUBHEADER.SEARCH' | translate}}"
                           formControlName="textSearch"/>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group col-lg-2 col-md-2">
              <ng-select (scrollToEnd)="getCategories()"
                         [virtualScroll]="true"
                         class="ng-select-sm"
                         [items]="categories"
                         [bindLabel]="'name'"
                         [bindValue]="'id'"
                         formControlName="cat1"
                         placeholder="{{'PRODUCT_FORM.CATEGORY_LEVEL1' | translate}}">
                <ng-template ng-label-tmp let-item="item">
                  <span>{{item | localTranslate: 'name'}}</span>
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
                  <span>{{item | localTranslate: 'name'}}</span>
                </ng-template>
              </ng-select>
            </div>

            <div class="form-group col-lg-2 col-md-2">
              <ng-select (scrollToEnd)="getSubCategories()" class="ng-select-sm"
                         [items]="subCategories"
                         [bindLabel]="'name'"
                         [bindValue]="'id'"
                         [clearable]="false"
                         formControlName="cat2"
                         placeholder="{{'PRODUCT_FORM.CATEGORY_LEVEL2' | translate}}">
                <ng-template ng-label-tmp let-item="item">
                  <span>{{item | localTranslate: 'name'}}</span>
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
                  <span>{{item | localTranslate: 'name'}}</span>
                </ng-template>
              </ng-select>
            </div>

            <div class="form-group col-lg-2 col-md-2">
              <ng-select (scrollToEnd)="getSubSubCategories()"
                         class="ng-select-sm"
                         [items]="subSubCategories"
                         [bindLabel]="'name'"
                         [bindValue]="'id'"
                         [clearable]="false"
                         formControlName="cat3"
                         placeholder="{{'PRODUCT_FORM.CATEGORY_LEVEL3' | translate}}">
                <ng-template ng-label-tmp let-item="item">
                  <span>{{item | localTranslate: 'name'}}</span>
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
                  <span>{{item | localTranslate: 'name'}}</span>
                </ng-template>
              </ng-select>
            </div>

            <div class="form-group col-lg-2 col-md-3">
              <ng-select (scrollToEnd)="getBrands()"
                         class="ng-select-sm"
                         [items]="brandList"
                         [bindLabel]="'description'"
                         [bindValue]="'id'"
                         formControlName="brandId"
                         placeholder="{{'PRODUCT_FORM.BRAND' | translate}}">
              </ng-select>
            </div>

            <div class="action-btns col-lg-2 col-md-2 d-flex justify-content-end align-items-start">
              <button mat-mini-fab color="primary"
                      (click)="resetFilter()"
                      placement="left" tooltipClass="custom-tooltip"
                      ngbTooltip="{{'PRODUCT_FORM.RESET_FILTER'|translate}}">
                <em class="ft-refresh-ccw" style="font-size: 20px;"></em>
              </button>
              <button mat-mini-fab color="primary" class="ml-2"
                      (click)="showHideFilter()"
                      placement="left" tooltipClass="custom-tooltip"
                      ngbTooltip="{{'PRODUCT_FORM.MORE_FILTER'|translate}}">
                <em class="ft-filter" style="font-size: 20px;"></em>
              </button>
            </div>

          </div>

          <div class="row" *ngIf="showFilter">

            <div class="form-group col-lg-2 col-md-2">
              <ng-select (scrollToEnd)="getManufacturers()" class="ng-select" [items]="manufacturersList"
                         [bindLabel]="'description'"
                         [bindValue]="'id'"
                         formControlName="manufacturer"
                         placeholder="{{'PRODUCT_FORM.MANUFACTURER' | translate}}">
              </ng-select>
            </div>

            <div class="form-group col-lg-2 col-md-2"
                 style="display: flex; justify-content: left; align-items: center;">
              <label>
                {{'DATA_TABLE.SPECIAL' | translate}}
                <input type="checkbox" formControlName="inEvidenza">
              </label>
            </div>

            <div class="form-group col-lg-2 col-md-2"
                 style="display: flex; justify-content: left; align-items: center;">
              <label>
                Disattivati
                <input type="checkbox" formControlName="disabled">
              </label>
            </div>

            <div class="form-group col-lg-2 col-md-2"
                 style="display: flex; justify-content: left; align-items: center;">
              <label>
                {{'PRODUCT_FORM.PRICE_ZERO'|translate}}
                <input type="checkbox" formControlName="priceZero">
              </label>
            </div>

            <div class="form-group col-lg-2 col-md-2"
                 style="display: flex; justify-content: left; align-items: center;">
              <label>
                {{'PRODUCT_FORM.STOCK_ZERO'|translate}}
                <input type="checkbox" formControlName="stockZero">
              </label>
            </div>

            <div class="form-group col-lg-2 col-md-2"
                 style="display: flex; justify-content: left; align-items: center;">
              <label>
                {{'PRODUCT_FORM.IN_PROMO'|translate}}
                <input type="checkbox" formControlName="inPromo">
              </label>
            </div>

          </div>
        </form>
      </div>
    </div>

    <div class="card pb-5">
      <div class="card-body table-responsive">
        <table class="table table-sm table-hover table-bordered">
          <thead>
          <tr>
            <th scope="col" class="text-center">
              <mat-checkbox [(ngModel)]="allProductSelected" (change)="selectPageProducts($event)"></mat-checkbox>
            </th>
            <th *ngFor="let c of columns" scope="col">
              {{c | translate}}
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngIf="responseProduct && !responseProduct.data.length" class="text-center">
            <td colspan="10" class="no-object-found">{{'PRODUCT_FORM.NO_PRODUCT_FOUND' | translate}}</td>
          </tr>
          <tr *ngFor="let product of responseProduct?.data; let i = index">
            <td class="text-center">
              <mat-checkbox [(ngModel)]="productToAddList[i]">ede</mat-checkbox>
            </td>
            <td>{{product.id}}</td>
            <td>{{product.code}}</td>
            <td>{{product | localTranslate: "commercialDescription"}}</td>
            <td>{{product.priceSale | number: "1.2-2" | numberCommaseparator }}€</td>
            <td>{{product.stock}}</td>
          </tr>
          </tbody>
        </table>
        <ngb-pagination class="d-flex justify-content-center"
                        *ngIf="responseProduct && responseProduct.totalRecords > request.pageSize"
                        [collectionSize]="responseProduct.totalRecords" size="sm"
                        [pageSize]="request.pageSize"
                        [ellipses]="true"
                        [maxSize]="5"
                        [page]="request.page"
                        (pageChange)="pageChange($event)">
        </ngb-pagination>
      </div>
    </div>


  </div>
  <hr>
  <div class="d-flex justify-content-end" mat-dialog-actions>
    <button (click)="dialogRef.close(null)" class="ml-2" color="secondary" mat-button>{{'BUTTONS.CLOSE' |
        translate}}</button>
    <button (click)="dialogRef.close(true)" color="primary" [disabled]="!typeField||!descField"
            mat-flat-button>{{'BUTTONS.ADD' | translate}}
    </button>
  </div>
</ng-template>

