<div class="card">
  <div class="card-body">

<div class=" text-center">
  <h1 class="display-4">My documents</h1>
  <p class="lead"><strong>Please upload your documents</strong> to let us know who you are.</p>
</div>


    <div class="documents">
      <mat-vertical-stepper >
        <mat-step  [completed]="false" >
          <ng-template matStepLabel>Baccalaureate</ng-template>

          <app-upload-file [fileType]="'BAC'"></app-upload-file>
          <app-showcase-files [fileType]="'BAC'"> </app-showcase-files>

          <div class="d-flex justify-content-end">
            <button mat-raised-button matStepperNext>Next</button>
          </div>
        </mat-step>
        <mat-step [completed]="false"  >
          <ng-template  matStepLabel>Transcripts</ng-template>

          <app-upload-file [fileType]="'TRANSCRIPTS'"></app-upload-file>
          <app-showcase-files  [fileType]="'TRANSCRIPTS'"> </app-showcase-files>

          <div class="d-flex justify-content-end">
            <button class="mx-2" mat-raised-button matStepperPrevious>Back</button>
            <button mat-raised-button matStepperNext>Next</button>
          </div>
        </mat-step>
        <mat-step  [completed]="false" >
          <ng-template matStepLabel>Certificates</ng-template>

          <app-upload-file [fileType]="'CERTIFICATES'"></app-upload-file>
          <app-showcase-files [fileType]="'CERTIFICATES'"> </app-showcase-files>

          <div class="d-flex justify-content-end">
            <button class="mx-2" mat-raised-button matStepperPrevious>Back</button>
            <button mat-raised-button matStepperNext>Next</button>
          </div>
        </mat-step>
        <mat-step [completed]="false" >
          <ng-template matStepLabel>Passport</ng-template>

          <app-upload-file [fileType]="'PASSPORT'"></app-upload-file>
          <app-showcase-files  [fileType]="'PASSPORT'"> </app-showcase-files>

          <div class="d-flex justify-content-end">
            <button class="mx-2" mat-raised-button matStepperPrevious>Back</button>
            <button mat-raised-button matStepperNext>Next</button>
          </div>
        </mat-step>
        <mat-step [completed]="false" >
          <ng-template matStepLabel>Internships</ng-template>

          <app-upload-file [fileType]="'INTERNSHIPS'"></app-upload-file>
          <app-showcase-files  [fileType]="'INTERNSHIPS'"> </app-showcase-files>
          <div class="d-flex justify-content-end">
            <button class="mx-2" mat-raised-button matStepperPrevious>Back</button>
            <button mat-raised-button matStepperNext>Next</button>
          </div>
        </mat-step>
        <mat-step [completed]="false" >
          <ng-template matStepLabel>Recommendations</ng-template>

          <app-upload-file [fileType]="'RECOMMENDATIONS'"></app-upload-file>
          <app-showcase-files  [fileType]="'RECOMMENDATIONS'"> </app-showcase-files>

          <div class="d-flex justify-content-end">
            <button class="mx-2" mat-raised-button matStepperPrevious>Back</button>
          </div>
        </mat-step>

      </mat-vertical-stepper>
    </div>


  </div>

</div>
