<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <ng-select [placeholder]="'PROMO_EDITOR.SELECT_TEMPLATE' | translate" style="flex: .3"
                 [formControl]="modelsFormControl" [notFoundText]="'PROMO_EDITOR.NO_TEMPLATE_FOUND' | translate"
                 [items]="promoModels" bindValue="id" bindLabel="name">
      </ng-select>
      <div class="d-flex align-items-center">
        <button mat-icon-button color="primary" class="mr-2"
                (click)="openForm(true)" *ngIf="modelsFormControl.value">
          <mat-icon>edit</mat-icon>
        </button>
        <div class="action-btns">
          <button mat-flat-button color="primary" (click)="openForm(false)">
            <mat-icon>add</mat-icon>
          </button>
          <button mat-flat-button color="primary" (click)="save($event)" [disabled]="!modelsFormControl.value">
            <mat-icon>save</mat-icon>
            {{'BUTTONS.SAVE' | translate}}
          </button>
        </div>
      </div>
    </div>
    <div class="card-body p-0">
      <!--Email editor-->
      <div class="mt-3">
        <!--        <email-editor (loaded)="editorLoaded($event)"></email-editor>-->
        <div id="email-editor" style="height: 570px"></div>
      </div>
    </div>
  </div>
</div>
