<div class=" text-center p-5">
  <h1 class="display-4">Welcome to FAS Exchange Platform</h1>
  <p class="lead"><strong>Here</strong> you can manage your documents, schedule meetings, and follow up applications </p>
</div>

<div class="dashboard-content ">
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between mb-5">
            <div>
              <h5 class="box-title mb-2">Total Applications: </h5>
              <div class="flexbox mb-2">
                <div class="h1 mb-0">{{inscriptionPerDay}}</div>
              </div>
              <div class="text-success font-13" style="cursor:pointer;"
                   [routerLink]="['/client-mgm']"
                   routerLinkActive="active">application list
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between mb-5">
            <div>
              <h5 class="box-title mb-2">Accepted Applications: </h5>
              <div class="flexbox mb-2">
                <div class="h1 mb-0">{{acceptedApplications}}</div>
              </div>
              <div class="text-success font-13" style="cursor:pointer;"
                   [routerLink]="['/purchases']"
                   routerLinkActive="active">get an appointment
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between mb-5">
            <div>
              <h5 class="box-title mb-2" style="color: #b0320e">Rejected Applications: </h5>
              <div class="flexbox mb-2">
                <div class="h1 mb-0">{{purchasePerDay}}</div>
              </div>
              <div class="text-success font-13" style="cursor:pointer;"
                   [routerLink]="['/purchases']"
                   routerLinkActive="active">improve my ds
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
 <!--  <div class="row">
    <div class="col-12">
    <div class="card p-4 ">
      <div class="card-body">
        <div class="text-center p-4">
          <h3 class="display-4">Recent Applications</h3>
        </div>
        <table class="table">
          <thead>
          <tr>
            <th>Application Code</th>
            <th>Job Description</th>
            <th>Country</th>
            <th>Status</th>
          </tr>
          </thead>
          <tbody>
          <tr class="alert" role="alert" *ngFor="let application of applications">
            <td class="d-flex align-items-center">
              <div class="pl-3 ">
                <span class="d-block">{{application?.id}}</span>
                <span class="d-block gray small">{{'ADDED' | translate}}: {{application?.createdAt}} </span>
              </div>
            </td>
            <td>{{application?.programName}}</td>
            <td>{{application?.country}}</td>
            <td class="status"><span class="active" *ngIf="application?.status === 'accepted'" >Accepted</span>
              <span class="inactive" *ngIf="application?.status === 'rejected'">Rejected</span>
              <span class="waiting" *ngIf="application?.status === 'pending'">Pending</span></td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
    </div>
  </div> -->
</div>
