<perfect-scrollbar class="pb-4">
  <div class="sidebar-header">
    <a class="sidebar-brand" routerLink='/fas-admin/fas-dashboard'><img src="assets/img/logo/fav.png" alt="image" style="max-width:30px"/> FAS ADMIN</a>
  <a class="sidebar-brand-mini"  routerLink='/fas-admin/fas-dashboard'><img src="assets/img/logo/fav.png" alt="image" width="25"/></a>

    <span class="sidebar-points" (click)="toggleDrawerSidebar()">
        <span class="badge badge-success badge-point mr-2"></span>
        <span class="badge badge-danger badge-point mr-2"></span>
        <span class="badge badge-warning badge-point"></span>
    </span>
  </div>
  <app-fas-navigation></app-fas-navigation>
</perfect-scrollbar>
