<h1 mat-dialog-title>{{'VIDEO.USE_PASS' | translate}}</h1>

<mat-dialog-content class="d-flex align-items-center  justify-content-center">
<mat-form-field appearance="outline">
  <mat-label>{{'VIDEO.PASSWORD' | translate}}</mat-label>
  <input matInput value ="{{pwd}}"  readonly>
  <mat-icon matSuffix>lock</mat-icon>
</mat-form-field>

</mat-dialog-content>

<div class="d-flex align-items-end  justify-content-end">
  <button mat-button (click)="onNoClick()">{{'BUTTONS.CANCEL' | translate}}</button>
  <button mat-button [mat-dialog-close]="data">{{'VIDEO.ENTER_MEET' | translate}}</button>
</div>
