<div class="subheader">
  <div class="container-fluid">
    <form [formGroup]="filterForm">
      <div class="row">

        <div class="form-group col-lg-4 col-md-3">
          <label>{{'SUBHEADER.SEARCH' | translate}}</label>
          <div class="search-input">
            <div class="form-group">
              <div class="input-group-icon input-group-icon-right">
                <span class="input-icon input-icon-right reset-search-btn"
                      (click)="filterForm.controls.textSearch.setValue(null)">
                  <em class="ft-x"></em>
                </span>
                <input type="text" class="form-control form-control-sm"
                       placeholder="Cerca per ID, Codice, Cliente"
                       formControlName="textSearch"/>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group col-lg-2 col-md-3">
          <div class="input-group-icon input-group-icon-right">
            <label>{{'CATEGORY_FORM.STATUS' | translate}}</label>
            <ng-select [items]="stateList"
                       formControlName="state"
                       [bindValue]="'id'"
                       [bindLabel]="'label'"
                       placeholder="{{'BUTTONS.CHOOSE' | translate}}"
                       class="ng-select-sm ng-select-required"
                       [clearable]="true"
            >
              <ng-template ng-label-tmp let-item="item">
                <span>{{'STATE.RETURN_PURCHASE.' + item.label | translate}}</span>
              </ng-template>
              <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
                <span>{{'STATE.RETURN_PURCHASE.' + item.label | translate}}</span>
              </ng-template>
            </ng-select>
          </div>
        </div>

        <div class="form-group col-lg-2 col-md-3">
          <label>{{'DATA_TABLE.CREATED' | translate}}</label>
          <div class="input-group-icon input-group-icon-right">
            <input type="text" placeholder="dd/mm/aaaa" [matDatepicker]="createdAtPicker"
                   class="form-control form-control-sm"
                   formControlName="createdAt" #createAtElem>
            <span class="input-icon input-icon-right"
                  (click)="createdAtPicker.opened ? createdAtPicker.close() : createdAtPicker.open()">
              <em class="fas fa-calendar"></em>
            </span>
          </div>
          <mat-datepicker #createdAtPicker></mat-datepicker>
        </div>

        <div class="form-group col-lg-2 col-md-3">
          <label>{{'DATA_TABLE.UPDATED' | translate}}</label>
          <div class="input-group-icon input-group-icon-right">
            <input type="text" placeholder="dd/mm/aaaa" [matDatepicker]="updatedAtPicker"
                   class="form-control form-control-sm"
                   formControlName="updatedAt" #createAtElem>
            <span class="input-icon input-icon-right"
                  (click)="updatedAtPicker.opened ? updatedAtPicker.close() : updatedAtPicker.open()">
              <em class="fas fa-calendar"></em>
            </span>
          </div>
          <mat-datepicker #updatedAtPicker></mat-datepicker>
        </div>

        <div class="form-group col-lg-2 col-md-2 d-flex justify-content-end">
          <button mat-mini-fab color="primary" (click)="resetFilter()"
                  placement="left" tooltipClass="custom-tooltip"
                  ngbTooltip="{{'PRODUCT_FORM.RESET_FILTER'|translate}}">
            <em class="ft-refresh-ccw" style="font-size: 20px;"></em>
          </button>
          <button mat-mini-fab color="primary" (click)="showHideMoreFilters()" *ngIf="false"
                  placement="left" tooltipClass="custom-tooltip"
                  ngbTooltip="{{'PRODUCT_FORM.MORE_FILTER'|translate}}">
            <em class="ft-filter" style="font-size: 20px;"></em>
          </button>
        </div>

      </div>
    </form>
  </div>
</div>

<div class="card card-fullheight">
  <div class="card-body table-responsive pt-1">
    <table class="table table-sm table-hover">
      <thead>
      <tr>
        <th *ngFor="let c of columns" scope="col" class="text-center">
          {{c | translate}}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let returnPurchase of returnPurchaseResponse?.data, let i = index"
          (click)="goToReturnPurchaseDetails(returnPurchase)">

        <td class="text-center">
          <ngb-highlight [result]="returnPurchase.id.toString()"
                         [term]="filterForm.controls.textSearch.value?.trim()"></ngb-highlight>
        </td>

        <td class="text-center">
          <ngb-highlight [result]="returnPurchase.code"
                         [term]="filterForm.controls.textSearch.value?.trim()"></ngb-highlight>
        </td>

        <td class="text-center">
          <ngb-highlight [result]="returnPurchase.purchase.client?.firstName + ' ' + returnPurchase.purchase.client?.lastName"
                         [term]="filterForm.controls.textSearch.value?.trim()">
          </ngb-highlight>
        </td>

        <td class="text-center">
          <ngb-highlight [result]="returnPurchase.purchase?.code"
                         (click)="goToPurchaseDetails($event, returnPurchase.purchase)"
                         [term]="filterForm.controls.textSearch.value?.trim()"></ngb-highlight>
        </td>

        <td class="text-center">
          {{'STATE.RETURN_PURCHASE.' + returnPurchase.state | translate}}
        </td>

        <td class="text-center">
          {{returnPurchase.returnProducts.length}}
        </td>


        <td class="text-center">
          {{returnPurchase.purchase.finalTotal | number: "1.2-2" | numberCommaseparator }}€
        </td>

        <td class="text-center">
          {{returnPurchase.totalReturn | number: "1.2-2" | numberCommaseparator }}€
        </td>

        <td class="text-center">
          {{returnPurchase.createdAt |date : 'dd-MM-yyyy HH:mm'}}
        </td>

        <td class="text-center">
          {{returnPurchase.updatedAt |date : 'dd-MM-yyyy HH:mm'}}
        </td>

      </tr>
      <tr *ngIf="returnPurchaseResponse?.totalRecords === 0" class="text-center">
        <td colspan="8">Nessun reso trovato</td>
      </tr>
      </tbody>
    </table>

    <ngb-pagination class="d-flex justify-content-center"
                    *ngIf="returnPurchaseResponse?.totalRecords > 0"
                    [collectionSize]="returnPurchaseResponse?.totalRecords"
                    size="sm"
                    [pageSize]="request.pageSize"
                    [ellipses]="true"
                    [maxSize]="5"
                    [page]="request.page"
                    (pageChange)="pageChange($event)">
    </ngb-pagination>
  </div>
</div>
