<div class="my-container">
  <mat-card>
    <mat-card-title>
      <div class="text-center font-weight-bold">{{'FORGET_PASSWORD.FORGOT_YOUR_PASSWORD' | translate}}</div>
    </mat-card-title>
    <mat-card-content *ngIf="!done">
      <div class="font-16 text-center font-weight-normal mb-2">{{'FORGET_PASSWORD.ENTER_USERNAME' | translate}}</div>
      <div class="font-14 text-center text-muted font-weight-light mb-2">{{'FORGET_PASSWORD.WE_WILL_EMAIL_YOU'  | translate}}
      </div>
      <input type="text" placeholder="{{'FORGET_PASSWORD.WRITE_YOUR_USERNAME'  | translate}}" (keydown.enter)="recoverPassword()"
             class="form-control my-4" [formControl]="usernameForm">
      <div class="text-center">
        <button mat-flat-button color="primary" (click)="recoverPassword()" [disabled]="loading">
          <i class="fas fa-paper-plane"></i>
          {{'BUTTONS.SEND' | translate}}
          <i class="fas fa-spinner fa-spin" *ngIf="loading"></i>
        </button>
      </div>
    </mat-card-content>
    <mat-card-content *ngIf="done">
      <div class="font-16 text-center text-muted font-weight-bold">{{'FORGET_PASSWORD.YOU_JUST_GOT_EMAIL'  | translate}}</div>
      <div class="text-center mt-2">
        <button mat-flat-button color="primary" routerLink="/">Login</button>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <div class="languages d-flex justify-content-end">
        <a href="javascript:;" (click)="changeLang('en')" [ngClass]="{disabled: translationLoaderService.getActiveLanguage() === 'en'}">English</a>
        <a href="javascript:;" (click)="changeLang('fr')" [ngClass]="{disabled: translationLoaderService.getActiveLanguage() === 'fr'}">Français</a>
        <a href="javascript:;" (click)="changeLang('it')" [ngClass]="{disabled: translationLoaderService.getActiveLanguage() === 'it'}">Italiano</a>
      </div>
    </mat-card-footer>
  </mat-card>
</div>