<div class=" text-center">
  <h1 class="display-4">{{'USERS.USER_DOCS' | translate}}</h1>
</div>

<div class="documents">
              <mat-vertical-stepper >
                <mat-step  [completed]="false" >
                  <ng-template matStepLabel>{{'DOCUMENTS.BAC' | translate}}</ng-template>

                  <app-showcase-files [userId]="userId" [fileType]="'BAC'"> </app-showcase-files>

                  <div class="d-flex justify-content-end">
                    <button mat-raised-button matStepperNext>{{'FORMS.NEXT' | translate}}</button>
                  </div>
                </mat-step>
                <mat-step [completed]="false"  >
                  <ng-template  matStepLabel>{{'DOCUMENTS.TRANSCRIPTS' | translate}}</ng-template>

                  <app-showcase-files [userId]="userId" [fileType]="'TRANSCRIPTS'"> </app-showcase-files>

                  <div class="d-flex justify-content-end">
                    <button class="mx-2" mat-raised-button matStepperPrevious>{{'FORMS.BACK' | translate}}</button>
                    <button mat-raised-button matStepperNext>{{'FORMS.NEXT' | translate}}</button>
                  </div>
                </mat-step>
                <mat-step  [completed]="false" >
                  <ng-template matStepLabel>{{'DOCUMENTS.CERTIFICATES' | translate}}</ng-template>


                  <app-showcase-files [userId]="userId" [fileType]="'CERTIFICATES'"> </app-showcase-files>

                  <div class="d-flex justify-content-end">
                    <button class="mx-2" mat-raised-button matStepperPrevious>{{'FORMS.BACK' | translate}}</button>
                    <button mat-raised-button matStepperNext>{{'FORMS.NEXT' | translate}}</button>
                  </div>
                </mat-step>
                <mat-step [completed]="false" >
                  <ng-template matStepLabel>{{'DOCUMENTS.PASSPORT' | translate}}</ng-template>

                  <app-showcase-files [userId]="userId" [fileType]="'PASSPORT'"> </app-showcase-files>

                  <div class="d-flex justify-content-end">
                    <button class="mx-2" mat-raised-button matStepperPrevious>{{'FORMS.BACK' | translate}}</button>
                    <button mat-raised-button matStepperNext>{{'FORMS.NEXT' | translate}}</button>
                  </div>
                </mat-step>
                <mat-step [completed]="false" >
                  <ng-template matStepLabel>{{'DOCUMENTS.INTERNSHIPS' | translate}}</ng-template>

                  <app-showcase-files [userId]="userId" [fileType]="'INTERNSHIPS'"> </app-showcase-files>
                  <div class="d-flex justify-content-end">
                    <button class="mx-2" mat-raised-button matStepperPrevious>{{'FORMS.BACK' | translate}}</button>
                    <button mat-raised-button matStepperNext>{{'FORMS.NEXT' | translate}}</button>
                  </div>
                </mat-step>
                <mat-step [completed]="false" >
                  <ng-template matStepLabel>{{'DOCUMENTS.RECOMMENDATIONS' | translate}}</ng-template>

                  <app-showcase-files [userId]="userId" [fileType]="'RECOMMENDATIONS'"> </app-showcase-files>

                  <div class="d-flex justify-content-end">
                    <button class="mx-2" mat-raised-button matStepperPrevious>{{'FORMS.BACK' | translate}}</button>
                  </div>
                </mat-step>

              </mat-vertical-stepper>
</div>
